<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/about/scode.css">
    <link rel="stylesheet" href="/navbar/navbar.css">
    <script src="/about/scode.js"></script>
    <script src="/navbar/navbar.js"></script>
  </head>

  <div class="navbar">
    <a href="/">About</a>
    <a href="/robot">Robot architechture</a>
    <a href="/scode">Source code</a>
    <a href="/algo">Algorithms</a>
    <a href="/team">Team</a>
  </div>

  <div class = 'main'>

  </div>

</html>
