<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/scode/scode.css">
    <link rel="stylesheet" href="/navbar/navbar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <script src="/scode/scode.js"></script>
    <script src="/navbar/navbar.js"></script>
  </head>

  <div class="navbar">
    <a href="/">About</a>
    <a href="/architecture">Robot architechture</a>
    <a href="/scode">Source code</a>
    <a href="/algo">Algorithms</a>
    <a href="/team">Team</a>
  </div>

  <div class = 'main'>
      <div class="flex-container">
        <a class="imgref" href="https://github.com/Servax314/OSWebsite">
          <div class="imagelabel" style="color: black;">Website</div>
          <img src="/scode/GitHub-Mark.png" id="github">
        </a>
        <a class="imgref" href="https://gitlab.eurecom.fr/coulibal/os-project">
          <div class="imagelabel" style="color: black;">Robot</div>
          <img src="/scode/gitlab-icon-rgb.png" id="gitlab">
        </a>
      </div>
  </div>

</html>
