<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/team/team.css">
    <link rel="stylesheet" href="/navbar/navbar.css">
    <script src="/team/team.js"></script>
    <script src="/navbar/navbar.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">

  </head>

  <div class="navbar">
    <a href="/">About</a>
    <a href="/architecture">Robot architecture</a>
    <a href="/scode">Source code</a>
    <a href="/algo">Algorithms</a>
    <a href="/team">Team</a>
  </div>

  <div class = 'main'>


    <main class="scroll-container">
      <section>
        <img class="profileimg" src="/team/jb.png" style="width: 80%;">
        <div>
         <h2>Jean-Baptiste PEYRAT</h2>
         <p>I was first involved in the architechture of the robot. My role rapidly shitfed to developer as I worked on and conceptualized the strategy.</p>
         <h3>Architechture</h3>
         <p>I built the main architecture (the base of the robot and the scissor-lift clamp) of the robot and then Nicolas optimized it (tweaked the clamp, improved its stability and sturdiness). </p>
         <p>At first, I thought about using a poly-articulated arm, but the movement of the clamp would have been rather complicated. Using just a simple clamp and using the robot to position the clamp at the right position (a colour sensor to detect a ball) appeared to me like an easier option. I finally settled for a clamp that does not need any motor to size a ball, in addition to be able to catch several balls at the same time. </p>
         <p>Since getting familiar with the sensors (lot of tests and empirical tunning) may require a lot of time and complexity in this context, I tried to look at an easy way to use them without introducing too much indeterminism. It really pushes me to understand how to use sensors, how to couple them and how to deal with their inaccuracy.</p>
         <h3>Strategy</h3>
         <div class="flex">
           <div class='paragraph'>
             <p>I have designed, coded the strategy, and made the code integration. Nicolas helped me to debug the whole file. </p>
             <p>At first the algorithm part was quite challenging. The fact that we cannot meet in person and work physically with the robot make the whole process harder. I tried to find a strategy that would be simple to explain, debug, test and collaborate on. The simple idea that came to my mind was “replication”. I tried to design a way for the robot to always do the same thing when it spots a container.</p>
             <p>At the beginning of the project, Brehima did not know how to access the position of the robot so I tried to figure out a way to get around this. I finally came up with the idea of putting the sonar sensor at a side of the robot and the touch sensor at the front. I have learned through this, how to use in an efficient way “flags” to code the strategy. With this approach the robot can adapt to several configurations. It was a plus since we did not at the time how the arena would be. </p>
             <p>Above all, this project has been a godsend for learning C. I took the C training course offered by Open Classroom in parallel and was able to put the things I learned into practice. It really helped me take the plunge! </p>
            </div>
            <img src="/team/jb_strat.png" style="width: 20%; margin-left: 2vw;margin-top: 7vh;">
          </div>
          <h3>Threads</h3>
          <p>I first wrote the program without the use of threads. However, in case we need to do more complex actions I decided to use one thread dedicated to the sonar sensor. </p>
          <p>I realized that there are different ways to share data among the threads. In our program, I used a pointer-oriented structure. It was for clarity sake since we manipulate a lot of data.</p>
          <p>The simple C program below explain the structure of the code and its expected behaviour</p>
          <ol>
              <li>#include &lt;pthread.h></li>
              <li>#include &lt;stdio.h></li>
              <li>#include &lt;stdlib.h></li>
              <li>#include &lt;unistd.h></li>
              <li></li>
              <li>typedef struct args1 {int* a;} args1;</li>
              <li>typedef struct args2 {int* a;} args2;</li>
              <li></li>
              <li>void args_init1(args1* args,int* a){args->a= a;}</li>
              <li>void args_init2(args2* args,int* a){args->a= a;}</li>
              <li></li>
              <li></li>
              <li>void *print_a(void *input) {</li>
              <li style="padding-left:2vw">	args1* arg = input;</li>
              <li style="padding-left:2vw">	sleep(1);</li>
              <li style="padding-left:2vw">	while(1){</li>
              <li style="padding-left:4vw">		while( *(arg->a)>0 ){sleep(1); printf("%d ",*(arg->a));}</li>
              <li style="padding-left:4vw">		printf("\nbooooom !!");</li>
              <li style="padding-left:2vw">	}</li>
              <li>}</li>
              <li></li>
              <li>void *modify_a(void *input) {</li>
              <li style="padding-left:2vw">	args2* arg = input;</li>
              <li style="padding-left:2vw">	while(1){sleep(2); *(arg->a) -=1;}</li>
              <li>}</li>
              <li></li>
              <li>int main() {</li>
              <li style="padding-left:2vw">	int a = 4;</li>
              <li style="padding-left:2vw">	args1 A1;</li>
              <li style="padding-left:2vw">	args2 A2;</li>
              <li style="padding-left:2vw">	args_init1(&A1,&a);</li>
              <li style="padding-left:2vw">	args_init2(&A2,&a);</li>
              <li></li>
              <li style="padding-left:2vw">	pthread_t t1, t2;</li>
              <li style="padding-left:2vw">	int err1 = pthread_create(&t1, NULL, print_a, (void *)&A1);</li>
              <li style="padding-left:2vw">	int err2 = pthread_create(&t2, NULL, modify_a, (void *)&A2);</li>
              <li style="padding-left:2vw">	if(err1||err2) { printf("thread error");}</li>
              <li></li>
              <li style="padding-left:2vw">	pthread_join(t1, NULL);</li>
              <li style="padding-left:2vw">	pthread_join(t2, NULL);</li>
              <li></li>
              <li style="padding-left:2vw">	return 0;</li>
              <li>}</li>
          </ol>
          <p>Here is its output</p>
          <ol>
            <li>3 3 2 2 1 1 </li>
            <li>booooom !!</li>
            <li>booooom !!</li>
          </ol>


        </div>
      </section>
      <section>
        <img class="profileimg" src="/team/nicolas.JPG" style="width: 19%; margin-left: 1vw;">
        <div>
          <h2>Nicolas SERVOT</h2>
          <div class='paragraph'>
            <p>As I was the one with the robot handy, I was able to work on numerous aspect of the project. My 3 main contributions were coding the clamp, building the website and some DevOps work. I also worked a tad on the architecture of the robot and on coding the strategy.</p>
            <h3>DevOps</h3>
              <p>As we had to work in team remotely on a robot held by one of us, it was critical to setup a work environment. First, I set up the ssh server on the robot by port-forwarding any request to my ip address on port 22 to the robot itself.</p>
              <p>Secondly, I wrote a multi-purpose Makefile to compile single c-files, tests and the integrated strategy, and to automate certain tasks such as sending binaries to the robot using PHONY targets.</p>
              <p>Finally, as we got closer and closer to d-day, I built the arena to test our strategy. A live stream video was also set up for every team member to run tests, ensuring a short feedback-loop. </p>
              <p>A regret of mine is not to have used git fonctionalities to their full potentials. For exemple, we worked on forked branches to protect the master branch and never merged them properly, but rather handpicking files at wish. </p>
            <h3>Clamp</h3>
              <p>The first task I had to tackle was the clamp. Thanks to the design of Jean-Baptiste, this task was not as challenging as expected. Indeed, our clamp principle makes the grabbing of the ball very deterministic, making its implementation straight-forward.</p>
              <p>I wrote the <em>clamp.c</em> file containing all the functions to move the arm of the robot and its clamp. The header <em>all.h</em>  contains the macros used in the functions. Their values were obtained empirically and had to be recalibrated from times to time as I added weigth to the clamp, hence increasing the stress on the arm motor.</p>
              <p>As recalibrating these values was time consuming, I also wrote the file <em>clampRun.c</em> to be compilled and executed on the robot. This executable takes as first argument an integer to precise the fonction needed and a second argument passed to the function itself.</p>
              <p>To ease the developement and remember the outcome of all the tests ran, I wrote a <em>log.txt</em> file to keep track of them. The file has been upated ever since its creation.</p>
            <h3>Architecture</h3>
              <p>The robot I got from Jean-Baptiste was already built. However, as I kept implementing features I realized it lacked sturdiness.</p>
              <p>When loading the clamp with all 4 balls, I realized the brick would disconnect from the structure as it was bending. Therefore I added support to transfer the weigth to the motor structure.</p>
              <p>Another improvement I made was on the arm. The clamp was sideway as the rod connecting the motor to the arm was not on not on top of its barycenter. Therefore I added another support rod on the left side of the arm.</p>
              <p>Finally, the original handle connecting the motor to the arm was too short and too flimsy. As the clamp could not go all the way down, I replaced it by a stronger and longer one.</p>
            <h3>Strategy</h3>
              <p>Most of the work on the strategy was done by Jean-Baptiste. He conceived it and implemented its structure. However, there were still the clamp to integrate and some pseudo-code to translate, so I decided to work on that too. </p>
              <p>I also debugged the integration file <em>main.c</em> as headers were conflicting with each others. I also had to modify the Makefile to allow multi c-file compilation. As mondain as this looks, it took an entire night of work to have an executable <em>main</em>.</p>
            <h3>Website</h3>
              <p>As I had past experience in web-developement, I decided to build the website from scratch. It was conceived using plain HTML,CSS and javascript, no fancy framwork. The backend was developed using the <em>Express</em> framework of <em>Node.js</em>, but it is only used for routing purpose and to serve a video hosted on a mongo database to the client.</p>
              <p>Unexpectedly, building the website took a great deal of time (probably too much). Indeed, as I did not work with any front-end framework such as <em>Bootstrap</em>, any aesthetic change was an adventure on its own.</p>
              <p>As for the deployement part, I decided to take the long route and host it myself. I bought a domain name on <em>Google Domain</em> for 12$, updated the DNS dynamically using their API with my public IP, forwarded any HTTP request to my public IP on port 80 to my home server's local IP running on <em>Ubuntu Server</em> and finally ran the service on port 80.<br>
              Of course I could have picked AWS or Azure as hosts but what's the fun in that?</p>
    
          </div>
        </div>
      </section>
      <section>
        <img class="profileimg" src="/team/brehima.png" id="brehima">
        <div>
          <h2>Brehima COULIBALY</h2>
          <p>I was mainly involved in the movement part of the robot.</p>
          <h3>Movemvent</h3>
            <p>During the robot project, my main tasks were to implement the various movements of the robot.</p>
            <p>At first, I start implementing the robot's basic movements:  move forward, move backward, turn left, turn right.</p>
            <p>After this implementation and further testing, we discovered that the robot is not able to reliably turn and there is a lack of more movements.</p>
            <p>For the next iteration of the code, the goal was to make the robot more reliable while taking an angle I use the gyroscope sensor, and the way I did it was to launch 2 thread one for getting a continuous value of the gyroscope sensor and the second one to initiate the turning angle movement of the robot and monitor the actual value of the gyroscope sensor until it reaches the desired angle by taking in count the gyroscope sensor error plus the time to stop the motor. In the same timeline, I’ve added a timed based movement to the robot allowing him to move for a given period of time.  </p>
            <p>Now the robot has a more reliable way to move but still needed to detect when it gets stuck either by touching the cube or the fence. To solve this, we decided to use the touch sensor. During a robot movement, it will set command and start moving so when the command is set, we can check if the button is pressed or not if it is, the action will be to immediately stop the robot.</p>
            <p>The last step was to convert centimeters to tacho count per meter so to achieve this we needed to take into account our robot environments, the wheels radius, and diameters from these parameters we were able to convert centimeters to tacho count. The issue was when we try to give the robot a longer distance ~100cm and plus, the robot starts to be less reliable it will reach the supposed target by some centimeters off. The solution to this issue was to move the robot at a small distance (e.g., 10 cm) and cumulate it until it reaches our desired centimeters. After using this approach, we are making sure that the robot can reach the destination reliably. </p>
    
        </div>
      </section>
      
      
    </main>



  </div>

</html>
