<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/team/team.css">
    <link rel="stylesheet" href="/navbar/navbar.css">
    <script src="/team/team.js"></script>
    <script src="/navbar/navbar.js"></script>
  </head>

  <div class="navbar">
    <a href="/">About</a>
    <a href="/robot">Robot architechture</a>
    <a href="/scode">Source code</a>
    <a href="/algo">Algorithms</a>
    <a href="/team">Team</a>
  </div>

  <div class = 'main'>


<main class="scroll-container">
  <section>
    <img class="profileimg" src="/team/brehima.png" id="brehima">
    <div>
      <h2>Section 1</h2>
      <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at aliquet nunc. Suspendisse sed hendrerit nisi, vitae consectetur lectus. Morbi faucibus mauris vel commodo sollicitudin. Aliquam et porta nisi, eu convallis sapien. Quisque vehicula nec massa ut ullamcorper. Nunc quis convallis ipsum. Praesent vitae metus eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur mollis dolor fringilla condimentum. Morbi sodales pulvinar varius. Quisque eget malesuada risus. Aliquam eget lorem sed ex cursus volutpat. Fusce non ipsum non justo euismod interdum sed in purus. Sed velit justo, sagittis et diam sit amet, euismod ultricies est. In dolor urna, sagittis vel risus condimentum, laoreet sodales libero. Praesent volutpat sem quam, a sodales nulla ornare eu.

        Nulla ac tincidunt orci. Pellentesque dapibus lacinia urna et ornare. In vitae ante ut augue consectetur pulvinar. Aliquam erat mauris, pretium et laoreet at, tempus volutpat mauris. Fusce sollicitudin lacinia risus rutrum fringilla. Phasellus luctus finibus vehicula. Nullam in nibh diam. Etiam non cursus turpis, pulvinar facilisis nulla. Etiam venenatis ante sit amet ligula consectetur suscipit. Phasellus pretium magna et facilisis lacinia. Aenean convallis sit amet dui sit amet posuere. Aliquam quis ipsum ut nunc fermentum molestie at at mauris. Nulla elementum nunc nunc, condimentum euismod libero ultrices ut. Fusce mauris enim, luctus venenatis aliquam eget, euismod quis dui. Fusce interdum orci lectus, non porttitor velit imperdiet eu.
        
        Nullam volutpat porta iaculis. Mauris faucibus sapien at cursus finibus. Fusce justo lorem, lobortis sed risus et, posuere gravida neque. Proin volutpat eros ut turpis elementum gravida. Sed eu venenatis diam, non finibus eros. Suspendisse tincidunt dui at vulputate condimentum. Cras id justo mollis, consectetur lectus eu, commodo eros. Mauris at dignissim lorem. Proin sit amet tincidunt ipsum, et efficitur velit. Donec malesuada eros risus, vitae finibus felis vehicula nec. Aenean et pellentesque dolor, sed venenatis odio. Nullam sed mi vel sapien consectetur egestas et at nulla. Praesent pretium dictum tempor. Mauris eu nulla at nisi porttitor ornare a convallis velit. Aliquam malesuada interdum nibh, et laoreet justo molestie bibendum. Suspendisse rutrum a neque vel semper.
        
        Phasellus at nulla ac justo tristique molestie. Nulla facilisi. Cras pellentesque lectus in neque tristique luctus nec aliquam arcu. Etiam sed tellus in arcu maximus accumsan ut vel tellus. Nam eu ipsum porttitor, auctor elit sed, posuere dolor. Proin et risus fringilla, porttitor dui facilisis, bibendum nulla. Maecenas sollicitudin ex vitae justo euismod fermentum. Cras rutrum est vehicula lorem consequat consectetur. Aliquam sit amet felis sed tortor hendrerit rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse scelerisque sed nunc at congue. Curabitur fringilla elit porta turpis tincidunt, a hendrerit tellus feugiat. Morbi eu eros leo. Vestibulum at tortor feugiat turpis gravida dignissim vitae eget velit. 
        orem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at aliquet nunc. Suspendisse sed hendrerit nisi, vitae consectetur lectus. Morbi faucibus mauris vel commodo sollicitudin. Aliquam et porta nisi, eu convallis sapien. Quisque vehicula nec massa ut ullamcorper. Nunc quis convallis ipsum. Praesent vitae metus eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur mollis dolor fringilla condimentum. Morbi sodales pulvinar varius. Quisque eget malesuada risus. Aliquam eget lorem sed ex cursus volutpat. Fusce non ipsum non justo euismod interdum sed in purus. Sed velit justo, sagittis et diam sit amet, euismod ultricies est. In dolor urna, sagittis vel risus condimentum, laoreet sodales libero. Praesent volutpat sem quam, a sodales nulla ornare eu.

        Nulla ac tincidunt orci. Pellentesque dapibus lacinia urna et ornare. In vitae ante ut augue consectetur pulvinar. Aliquam erat mauris, pretium et laoreet at, tempus volutpat mauris. Fusce sollicitudin lacinia risus rutrum fringilla. Phasellus luctus finibus vehicula. Nullam in nibh diam. Etiam non cursus turpis, pulvinar facilisis nulla. Etiam venenatis ante sit amet ligula consectetur suscipit. Phasellus pretium magna et facilisis lacinia. Aenean convallis sit amet dui sit amet posuere. Aliquam quis ipsum ut nunc fermentum molestie at at mauris. Nulla elementum nunc nunc, condimentum euismod libero ultrices ut. Fusce mauris enim, luctus venenatis aliquam eget, euismod quis dui. Fusce interdum orci lectus, non porttitor velit imperdiet eu.
        
        Nullam volutpat porta iaculis. Mauris faucibus sapien at cursus finibus. Fusce justo lorem, lobortis sed risus et, posuere gravida neque. Proin volutpat eros ut turpis elementum gravida. Sed eu venenatis diam, non finibus eros. Suspendisse tincidunt dui at vulputate condimentum. Cras id justo mollis, consectetur lectus eu, commodo eros. Mauris at dignissim lorem. Proin sit amet tincidunt ipsum, et efficitur velit. Donec malesuada eros risus, vitae finibus felis vehicula nec. Aenean et pellentesque dolor, sed venenatis odio. Nullam sed mi vel sapien consectetur egestas et at nulla. Praesent pretium dictum tempor. Mauris eu nulla at nisi porttitor ornare a convallis velit. Aliquam malesuada interdum nibh, et laoreet justo molestie bibendum. Suspendisse rutrum a neque vel semper.
        
        Phasellus at nulla ac justo tristique molestie. Nulla facilisi. Cras pellentesque lectus in neque tristique luctus nec aliquam arcu. Etiam sed tellus in arcu maximus accumsan ut vel tellus. Nam eu ipsum porttitor, auctor elit sed, posuere dolor. Proin et risus fringilla, porttitor dui facilisis, bibendum nulla. Maecenas sollicitudin ex vitae justo euismod fermentum. Cras rutrum est vehicula lorem consequat consectetur. Aliquam sit amet felis sed tortor hendrerit rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse scelerisque sed nunc at congue. Curabitur fringilla elit porta turpis tincidunt, a hendrerit tellus feugiat. Morbi eu eros leo. Vestibulum at tortor feugiat turpis gravida dignissim vitae eget velit. </p>
    </div>
  </section>
  <section>
    <img class="profileimg" src="/team/nicolas.png" id="nicolas">
    <h2>Section 2</h2>
  </section>
  <section>
    <img class="profileimg" src="/team/jb.png" id="jb">
    <h2>Section 3</h2>
  </section>
</main>



  </div>

</html>
