<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/team/team.css">
    <link rel="stylesheet" href="/navbar/navbar.css">
    <script src="/team/team.js"></script>
    <script src="/navbar/navbar.js"></script>
  </head>

  <div class="navbar">
    <a href="/">About</a>
    <a href="/robot">Robot architechture</a>
    <a href="/scode">Source code</a>
    <a href="/algo">Algorithms</a>
    <a href="/team">Team</a>
  </div>

  <div class = 'main'>
    <div class="well" id="well">
      <div class="panel">one</div>
      <div class="panel">two <span class="top">&uarr;</span></div>
      <div class="panel">three <span class="top">&uarr;</span></div>
      <div class="panel">four <span class="top">&uarr;</span></div>
      <div class="panel">five <span class="top">&uarr;</span></div>
    </div>

  </div>

</html>
