

* {
    box-sizing: border-box;
  }

  .main{
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      width: 100%;
      height: 100%;
  }

  
  /* All the snapping stuff */
  .scroll-container {
    width: 90vw;
    height: 90vh;
    margin: 3rem auto;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  section {
    overflow-y: auto;
    height: 100%;
    flex: 0 0 100%;
    scroll-snap-align: center;
  }
  
  /* Other styles */
  section {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: whitesmoke;
  }
  
  section:nth-child(2n) {
    background-color: turquoise;
  }
  
  section:nth-child(3n) {
    background-color: tomato;
  }

  .profileimg{
    margin-right: 2rem;
    position: sticky;
    top: 0;
  }
  
  